<section class="register-container">

  <div class="register-card">

    <h2 class="register-title">Crear cuenta de tutor</h2>

    <p class="register-subtitle">
      Regístrate como tutor para comenzar a dar seguimiento al progreso
      físico de tu hijo. Nuestra plataforma te permitirá registrar sus
      actividades, monitorear su evolución y fomentar hábitos saludables
      para prevenir la obesidad infantil.
    </p>

    <!-- Error -->
    <div *ngIf="errorMsg" class="register-error">
      {{ errorMsg }}
    </div>

    <form (ngSubmit)="register()">

      <!-- Usuario -->
      <input
        [(ngModel)]="username"
        name="username"
        type="text"
        placeholder="Nombre de usuario"
        class="register-input"
        required
      />

      <!-- Nombre completo -->
      <input
        [(ngModel)]="displayName"
        name="displayName"
        type="text"
        placeholder="Nombre completo del tutor"
        class="register-input"
        required
      />

      <!-- Email -->
      <input
        [(ngModel)]="email"
        name="email"
        type="email"
        placeholder="Correo electrónico"
        class="register-input"
        required
      />

      <!-- Contraseña -->
      <input
        [(ngModel)]="password"
        name="password"
        type="password"
        placeholder="Crear contraseña"
        class="register-input"
        required
      />

      <!-- Botón -->
      <button
        type="submit"
        [disabled]="loading"
        class="register-button"
      >
        {{ loading ? 'Creando cuenta...' : 'Registrarme como tutor' }}
      </button>


       <p class="register-login">
      ¿Ya tienes una cuenta?
      <a (click)="goLogin()">Iniciar sesión</a>
    </p>


    </form>

   
  </div>

  
</section>