<div class="login-container">

  <h2> Iniciar Sesión</h2>

  <div *ngIf="errorMsg" class="login-error">
    {{ errorMsg }}
  </div>

  <input
    [(ngModel)]="username"
    placeholder="Usuario"
    class="login-input"
  />

  <input
    [(ngModel)]="password"
    type="password"
    placeholder="Contraseña"
    class="login-input"
  />

  <button
    (click)="login()"
    [disabled]="loading"
    class="login-button"
  >
    {{ loading ? 'Cargando...' : 'Entrar' }}
  </button>

  <p class="login-register">
  ¿No tienes cuenta?
  <a (click)="goRegister()">Regístrate aquí</a>
</p>

<button class="register-home" (click)="goHome()">
  ← Volver al inicio
</button>

</div>