<div class="progress-page">

  <header class="top-bar">
    <button routerLink="/menu">← Volver</button>

    <div>
      <h1>Mi Progreso Saludable 💪</h1>
      <p>Controla tu actividad, energía y hábitos saludables.</p>
    </div>

    <span></span>
  </header>

  <section class="progress-layout">

    <div class="activity-cards">

      <div class="ring-card">
        <div class="lock-icon">🔒</div>
        <div class="ring green">
          <span>75%</span>
        </div>
        <h3>Súper Saltos</h3>
        <p>75 / 100 saltos</p>
      </div>

      <div class="ring-card">
        <div class="lock-icon">🔒</div>
        <div class="ring blue">
          <span>60%</span>
        </div>
        <h3>Caminata Ligera</h3>
        <p>4,800 / 8,000 pasos</p>
      </div>

    </div>

    <div class="energy-card">
      <h2>Energía semanal 📊</h2>

      <div class="chart">
        <div class="bar-item">
          <div class="bar green" style="height: 45%;"></div>
          <span>LUN</span>
        </div>

        <div class="bar-item">
          <div class="bar green" style="height: 75%;"></div>
          <span>MAR</span>
        </div>

        <div class="bar-item">
          <div class="bar blue" style="height: 35%;"></div>
          <span>MIÉ</span>
        </div>

        <div class="bar-item">
          <div class="bar green" style="height: 20%;"></div>
          <span>JUE</span>
        </div>

        <div class="bar-item">
          <div class="bar blue" style="height: 60%;"></div>
          <span>VIE</span>
        </div>

        <div class="bar-item">
          <div class="bar green" style="height: 30%;"></div>
          <span>SÁB</span>
        </div>

        <div class="bar-item">
          <div class="bar blue" style="height: 15%;"></div>
          <span>DOM</span>
        </div>
      </div>

      <div class="energy-summary">
        <span>Mayor actividad: Martes</span>
        <strong>120 pts</strong>
      </div>
    </div>

    <div class="side-stats">

      <div class="mini-card">
        <span class="mini-icon fire">🔥</span>
        <div>
          <h3>250 kcal</h3>
          <p>Calorías quemadas</p>
        </div>
      </div>

      <div class="mini-card">
        <span class="mini-icon clock">🕒</span>
        <div>
          <h3>90 min</h3>
          <p>Minutos activos</p>
        </div>
      </div>

      <div class="goals-card">
        <h2>Metas saludables 🎯</h2>

        <div class="goal-item">
          <span>💧 Agua</span>
          <strong>4 / 6 vasos</strong>
        </div>

        <div class="goal-item">
          <span>🥦 Comida sana</span>
          <strong>2 / 3 comidas</strong>
        </div>

        <div class="goal-item">
          <span>😴 Sueño</span>
          <strong>8 horas</strong>
        </div>

        <div class="goal-item">
          <span>🔥 Racha</span>
          <strong>7 días</strong>
        </div>
      </div>

    </div>

  </section>

</div>